<h2>Register</h2>
<form action="/register" method="POST">
  <input
    type="text"
    name="username"
    placeholder="Username"
    class="form-control"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Email"
    class="form-control"
    required
  />
  <input
    type="password"
    name="password"
    placeholder="Password"
    class="form-control"
    required
  />
  <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="/login">Login here</a>.</p>